# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
.eggs/
dist/
build/
venv/
.venv/
*.spec

# Logs
*.log

# Generated outputs
*.svg
*.png
*.pdf

# OS
Thumbs.db
.DS_Store
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*~
